{% if pervious_qo %}

<!-- <h4>{{pervious_qo}}</h4> -->

<div>
    {% if pervious_qo | length > 0 %}
    {% for name in pervious_qo %} <br>
    {% set qo = frappe.get_doc('Quotation', name) %}
    <h4>{{qo.name}}</h4>
    {% if qo.custom_margin_calculation | length > 0 %}
    <table border="1" class="text-center">
        <thead>
            <th>SAP CODE</th>
            <th>UOM</th>
            <th>QTY</th>
            <th>SQ price</th>
            <th>Buying Value</th>
            <th>Offer Price without freight</th>
            <th>Other Charges</th>
            <th>Offer Price with charges</th>
            <th>Offer Value with Charges</th>
            <th>Material Margin</th>
            <th>Margin</th>
            <th>Weight in KGs</th>
        </thead>
        {% for margin in qo.custom_margin_calculation%}
        <tbody>
            <tr>
                <td>{{ margin.sap_code }} </td>
                <td> {{ margin.uom }}</td>
                <td> {{ margin.qty }}</td>
                <td> {{ margin.sq_price }}</td>
                <td> {{ margin.buying_value }}</td>
                <td> {{ margin.offer_price_without_freight }}</td>
                <td> {{ margin.other_charges}}</td>
                <td> {{ margin.offer_price_with_charges}}</td>
                <td> {{ margin.offer_value_with_charges}}</td>
                <td>{{ margin.material_margin}}</td>
                <td>{{margin.margin}}</td>
                <td></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    {% if qo.custom_other_charges_comparison | length > 0 %}
    <br>
    <table border="1" width=100% class="text-center">
        <thead>
            <th>Charge Type</th>
            <th>Supplier Quotation Charges</th>
            <th>Offer Charges</th>
        </thead>
        {% for charges in qo.custom_other_charges_comparison%}
        <tbody>
            <tr>
                <td>{{ charges.charge_type }} </td>
                <td> {{ charges.supplier_quotation_charges }}</td>
                <td> {{ charges.offer_charges }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %}
<br>
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-5"><b>Total SQ Other  Charges</b></div>
                <div class="col-xs-7">: {{qo.custom_total_sq_other_charges or 0}}</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><b>Final Buying Value</b></div>
                <div class="col-xs-7">: {{qo.custom_final_values or 0}}</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><b>Final Margin</b></div>
                <div class="col-xs-7">: {{qo.custom_final_margin or 0}}</div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-5"><b>Total Offer Other Charges</b></div>
                <div class="col-xs-7">: {{qo.custom_total_offer_other_charges or 0}}</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><b>Final Offer Value</b></div>
                <div class="col-xs-7">: {{qo.custom_final_offer_values or 0}}</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><b>Overall Margin</b></div>
                <div class="col-xs-7">: {{" %.2f " | format(qo.custom_overall_margin)}} %</div>
            </div>
        </div>
    </div>

    {% endif %}
    {% endfor %}
    {% endif %}


</div>

{% endif %}