{% if pervious_qo %}

<h4>{{pervious_qo}}</h4>

<div>
    {% if pervious_qo | length > 0 %}
        {% for name in pervious_qo %} <br>
        {% set qo = frappe.get_doc('Quotation', name) %}
        <h4>{{qo.name}}</h4>
        <table border="1">
            <thead>
                <th>SAP CODE</th>
                <th>UOM</th>
                <th>QTY</th>
                <th>SQ price</th>
                <th>Buying Value</th>
                <th>Offer Price without freight</th>
                <th>Other Charges</th>
                <th>Offer Price with charges</th>
                <th>Offer Value with Charges</th>
                <th>Material Margin</th>
                <th>Margin</th>
                <th>Weight in KGs</th>
            </thead>
            {% for margin in qo.custom_margin_calculation%}
        <tbody>
            <tr>
                <td>{{ margin.sap_code }} </td>
                <td> {{ margin.uom }}</td>
                <td> {{ margin.qty }}</td>
                <td> {{ margin.sq_price }}</td>
                <td> {{ margin.buying_value }}</td>
                <td> {{ margin.offer_price_without_freight }}</td>
                <td> {{ margin.other_charges}}</td>
                <td> {{ margin.offer_price_with_charges}}</td>
                <td> {{ margin.offer_value_with_charges}}</td>
                <td>{{ margin.material_margin}}</td>
                <td>{{margin.margin}}</td>
                <td></td>
            </tr>
        </tbody>
        {% endfor %}  
    </table>
<br>
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-5">
                    <label>Margin Total: </label>
                </div>
                <div class="col-xs-7">
                    {{qo.custom_margin_total or 0}}
                </div>
            </div> 
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-5">
                    <label>Freight: </label>
                </div>
                <div class="col-xs-7">
                    {{qo.custom_freight or 0}}
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-5">
                    <label>Packing: </label>
                </div>
                <div class="col-xs-7">
                    {{qo.custom_packing or 0}}
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-5">
                    <label>CIP/CPT: </label>
                </div>
                <div class="col-xs-7">
                    {{qo.custom_cipcpt or 0}}
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-5">
                    <label>Bank Charges: </label>
                </div>
                <div class="col-xs-7">
                    {{qo.custom_bank_charges or 0}}
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-5">
                    <label>Final Values: </label>
                </div>
                <div class="col-xs-7">
                    {{qo.custom_final_values or 0}}
                </div>
            </div> 
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-5">
                    <label>Final Margin: </label>
                </div>
                <div class="col-xs-7">
                    {{qo.custom_final_margin or 0}}
                </div>
            </div> 
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-5">
                    <label>Overall Margin: </label>
                </div>
                <div class="col-xs-7">
                    {{qo.custom_overall_margin or 0}}
                </div>
            </div> 
        </div>
    </div>
   
    {% endfor %}
    {% endif %}

</div>

{% endif %}